# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# backups
*/.backup

# data
*/data

# codeblocks project files
*.cbp
*.layout
*.depend
*.def

# eclipse project files
.cproject
.project
.settings

#  CMake stuff
CMakeCache.txt
CMakeFiles

# output dir
obj
out
bin